[Desktop Entry]
Type=Application
Name=NomNomus
GenericName=Nutrient Tracker
Comment=Track daily calories and macros
Exec=nomnomus
Icon=application-x-executable
Terminal=false
Categories=Utility;GTK;
StartupNotify=true
StartupWMClass=dev.local.NomNomus
